.env
env/
nenv/
__pycache__/

test_dataset.pdf

data.ipynb
venv/
.DS_Store
db.sqlite3
.idea/
.vscode/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
.coverage.xml
.coverage.json
.coverage.yaml
.coverage.yml

experiment/data/
experiment/models/
experiment/chroma-data/
experiment/chroma-data/chroma.sqlite3
experiment/results/

*.sqlite
*.db


rag_evaluation_results.csv

misc/

backend/vectorstore/

backend/media/
chunks.txt
backend/vector_stores/

.env.frontend
.env.backend
