beautifulsoup4
rouge-score
celery
daphne
channels
channels_redis
dj-database-url
Django
django-cors-headers
django-redis
django-celery-results
djangorestframework
drf-spectacular
faiss-cpu
langchain
langchain-community
langchain-text-splitters
langchain-openai
nltk
ollama
numpy
openai
pandas
psycopg2-binary
PyPDF2
python-dotenv
rank-bm25
redis
requests
scikit-learn
tiktoken
tzlocal
ujson
whitenoise